.App {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin: 1em 0;
}

ul li button {
  width: 12em;
  min-height: 2.5em;
}
#fn-input {
  width: 20em;
  min-height: 2em;
}
