.App {
  text-align: center;
  display: grid;
  place-items: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  padding-top: 1em;
}

ul li button {
  width: 15em;
  min-height: 3.5em;
}
ul li input {
  width: 30em;
  height: 2.5em;
}
.signature {
  width: 50em;
}

.signature h3 {
  overflow: scroll;
  padding: 1em;
}
